.movie__filter:link, .movie__filter:visited {
  color: currentColor;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  --font__size--main: 1rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: minmax(25rem, 15vw) 1fr;
  grid-template-rows: [nav-start] min-content [nav-end header-start] calc(90vh - 3rem) [header-end content-start] max-content [content-end footer-start] min-content [footer-end];
  padding: 2rem;
  padding-bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      grid-template-rows: [nav-start] min-content [nav-end header-start] calc(90vh - 3rem) [header-end top-start] min-content [top-end content-start] min-content [content-end footer-start] min-content [footer-end]; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      grid-template-rows: [nav-start] min-content [nav-end header-start] 50vh [header-end top-start] min-content [top-end content-start] min-content [content-end footer-start] min-content [footer-end]; } }
  @media only screen and (hover: none) {
    .wrapper {
      grid-template-rows: [nav-start] min-content [nav-end header-start] 50vh [header-end small__menu-start] min-content [small__menu-end top-start] min-content [top-end content-start] min-content [content-end footer-start] min-content [footer-end]; } }

.smaller {
  height: 100vh;
  overflow: hidden; }

html {
  color: #eaeaea; }

.wrapper {
  background-color: white;
  font-size: 1.2rem; }

.--u-center-block {
  margin: 0 auto; }

.--u-right-block {
  margin: 0;
  margin-left: auto; }

.--u-important {
  font-weight: bold;
  letter-spacing: 0.1rem; }

.movie__link {
  color: currentColor;
  text-transform: none;
  display: block; }

.logo {
  display: inline-block;
  background-image: linear-gradient(rgba(18, 245, 18, 0.9) 50%, rgba(240, 163, 32, 0.9) 50% 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  color: transparent;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: all 0.2s; }
  .logo:hover {
    transform: scale(1.1);
    background-image: linear-gradient(rgba(240, 163, 32, 0.9) 50%, rgba(18, 245, 18, 0.9) 50% 100%); }

.nav {
  grid-column: 1/-1;
  grid-row: nav-start/nav-end;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: max-content 1fr minmax(max-content, 1fr) 1fr min-content;
  padding: 2rem;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .nav {
      grid-template-columns: max-content minmax(min-content, 1fr);
      align-items: center; } }
  @media only screen and (max-width: 25em) {
    .nav {
      display: flex;
      flex-direction: column; } }
  .nav__box {
    grid-column: 3/4; }
  .nav__box-big {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .nav__box-big {
        display: none; } }
  .nav__box-small {
    display: none;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .nav__box-small {
        display: flex;
        justify-content: flex-end; } }
  .nav__item {
    position: relative; }
    .nav__item:hover > .nav__sub {
      display: block; }
  .nav__link:link, .nav__link:visited {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: calc(1.2rem + 0.5rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    transition: all 0.2s; }
  .nav__link:hover {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #12f512;
    color: #12f512; }
  .nav__search-box {
    position: relative;
    grid-column: 5/6; }
    @media only screen and (max-width: 75em) {
      .nav__search-box {
        display: none; } }
  .nav__search {
    border: 3px solid #333;
    outline: none;
    border-radius: 100px;
    height: 3rem;
    width: 22vw;
    padding: 2rem;
    margin-right: -1rem;
    background-color: #f8f8f8; }
    .nav__search:hover {
      cursor: pointer; }
    .nav__search::-webkit-input-placeholder {
      color: #333; }
    .nav__search:focus {
      width: 24vw; }
  .nav__svg {
    height: 3rem;
    width: 3rem;
    fill: #333;
    background-color: #f8f8f8;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  .nav__sub {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    top: 100%;
    left: 0;
    background-color: #f8f8f8;
    list-style: none;
    text-align: center;
    z-index: 3; }
  .nav__sub-item {
    padding: 0.5rem 1rem; }
    .nav__sub-item:hover {
      font-weight: bold;
      background-color: #0d810d; }
  .nav__sub-link:link, .nav__sub-link:visited {
    color: #333;
    text-decoration: none;
    font-size: calc(1.2rem + 0.5rem);
    text-transform: capitalize;
    transition: all 0.2s;
    padding: 1rem 0; }
  .nav__sub-link:hover {
    color: #f0a320; }

.header {
  display: flex;
  align-items: center;
  padding: 5rem;
  grid-column: 1/-1;
  grid-row: header-start/header-end;
  background-image: linear-gradient(rgba(135, 206, 235, 0.5), rgba(135, 206, 235, 0.5)), url("../img/header-big.jpg");
  background-size: cover;
  background-position: bottom; }
  .header:hover > .header__box {
    opacity: 1; }
  .header__box {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 3rem;
    transition: all 1s; }
    @media only screen and (max-width: 37.5em) {
      .header__box {
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 25em) {
      .header__box {
        display: none; } }
  .header__heading {
    font-size: 3rem; }
  .header__text {
    font-size: 1.5rem; }
  .header button {
    align-self: flex-start; }

.small__menu {
  display: none; }
  @media only screen and (hover: none) {
    .small__menu {
      display: block;
      grid-row: small__menu-start / small__menu-end;
      grid-column: 1/-1;
      padding: 2rem;
      background-color: #333; } }
  .small__menu .slide-menu__links :not(:first-child) {
    color: white; }

.slide-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  backdrop-filter: blur(1rem);
  z-index: 10; }
  .slide-menu__nav {
    padding: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: #f8f8f8; }
    @media only screen and (max-width: 37.5em) {
      .slide-menu__nav {
        width: 100vw; } }
  .slide-menu__links {
    display: flex;
    flex-direction: column; }
  .slide-menu__link:link, .slide-menu__link:visited {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    border-bottom: 1px solid transparent;
    transition: all 0.2s; }
  .slide-menu__link:hover {
    color: #0d810d;
    letter-spacing: 0.2rem; }
  .slide-menu__link--activa:link, .slide-menu__link--activa:visited {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #12f512;
    color: #0d810d; }

.close {
  display: none; }

.side-nav {
  grid-column: 1/2;
  grid-row: content-start/content-end;
  padding: 2rem 0;
  background-color: #f8f8f8;
  color: #333; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      grid-column: 1/-1;
      grid-row: top-start/top-end;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      flex-direction: column;
      align-items: flex-start; } }
  .side-nav__heading {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: calc(1.2rem +1rem); }
    @media only screen and (max-width: 56.25em) {
      .side-nav__heading {
        flex: 0 0 100%; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__heading {
        flex: 0 0 auto;
        align-self: center; } }

.movie-top {
  display: flex;
  margin: 4rem 0;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .movie-top a {
    text-align: center; }
  .movie-top__img {
    width: 70%; }
    @media only screen and (max-width: 56.25em) {
      .movie-top__img {
        height: 20rem;
        width: auto; } }
  .movie-top__description {
    margin: 1rem 0;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .movie-top__description {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .movie-top__description {
        display: inline; } }
    .movie-top__description--more {
      display: none; }
    .movie-top__description button {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(130%); }
      @media only screen and (max-width: 56.25em) {
        .movie-top__description button {
          display: none; } }
      @media only screen and (max-width: 37.5em) {
        .movie-top__description button {
          display: block; } }
    button:focus ~ .movie-top__description--more {
      display: inline; }

.main {
  grid-column: 2/3;
  grid-row: content-start/content-end;
  background-color: #eaeaea; }
  @media only screen and (max-width: 56.25em) {
    .main {
      grid-column: 1/-1; } }

.main__genres {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.footer {
  grid-column: 1/-1;
  grid-row: footer-start/footer-end;
  padding: 2rem;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column; } }
  .footer__details-box {
    display: flex;
    justify-content: space-around;
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .footer__details-box {
        order: 1;
        padding: 2rem 1rem;
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__details-box {
        flex-direction: column;
        order: 1;
        width: 100%; } }
  .footer__detail {
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column; }
    .footer__detail--active {
      color: #3cb7e7; }
    .footer__detail--span:hover {
      cursor: pointer;
      background-color: #3cb7e7; }

.btn {
  padding: 1rem;
  background-color: #12f512;
  color: white;
  text-transform: capitalize;
  border: none;
  cursor: pointer; }

.btn__shadow {
  box-shadow: 0 5px 1rem black; }
  .btn__shadow:active {
    box-shadow: 0 2px 0.5rem black;
    transform: translateY(3px); }

.btn:hover, .btn:focus {
  outline: none;
  color: #eaeaea; }

.movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 6rem; }
  @media only screen and (max-width: 25em) {
    .movie {
      grid-auto-rows: min-content; } }
  .movie-card {
    -moz-perspective: 150rem;
    perspective: 150rem;
    width: 100%;
    height: 30rem;
    position: relative; }
    @media only screen and (max-width: 25em) {
      .movie-card {
        height: auto; } }
    .movie-card__front {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: all 3s;
      transform: rotateY(0); }
      .movie-card__front:hover {
        transform: rotateY(180deg); }
      .movie-card__front:hover + .movie-card__back {
        transform: rotateY(0); }
      @media only screen and (max-width: 25em) {
        .movie-card__front {
          position: relative;
          height: 30rem; }
          .movie-card__front:hover {
            transform: none; }
          .movie-card__front:hover + .movie-card__back {
            transform: none; } }
    .movie-card__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #bb6bbb;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all 3s;
      font-size: 1.5rem;
      padding: 1rem; }
      @media only screen and (max-width: 25em) {
        .movie-card__back {
          position: relative;
          height: 30rem;
          transform: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around; } }
  .movie-cover {
    width: 100%;
    height: 100%;
    position: relative; }
    .movie-cover__version {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 1rem;
      background-color: #f0a320;
      border-radius: 5rem;
      font-size: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem; }
    .movie-cover__img {
      display: block;
      width: 100%;
      height: 100%; }
    .movie-cover__name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      font-size: 2rem;
      text-transform: uppercase;
      background-color: rgba(51, 51, 51, 0.8);
      color: #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center; }
  .movie__title {
    font-size: 2rem;
    text-transform: capitalize;
    color: #333;
    text-align: center;
    padding: 1rem 0; }
  .movie__details {
    margin-top: 1rem; }
    .movie__details--d {
      color: #333; }
  .movie__genres-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .movie__genre {
    padding: 1rem;
    background-color: #12f512; }
  .movie__filters-box {
    position: fixed;
    bottom: 0;
    left: 2rem;
    background-color: #12f512;
    width: 100vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; }
    @media only screen and (max-width: 37.5em) {
      .movie__filters-box {
        display: none; } }
  .movie__filter {
    padding: 1rem;
    text-align: center;
    font-size: calc(1.2rem + 0.5rem); }
    .movie__filter:first-child {
      margin-left: 10rem; }
    .movie__filter:hover {
      color: #333; }
    .movie__filter--white {
      background-color: #eaeaea;
      width: 6rem;
      height: 100%; }
  .movie__list-box {
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333333; }
    @media only screen and (max-width: 37.5em) {
      .movie__list-box {
        flex-direction: column; } }
    .movie__list-box .number {
      display: block;
      height: 100%;
      width: 10vw;
      font-size: 10rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .movie__list-box .number {
          display: none; } }
    @media only screen and (max-width: 75em) {
      .movie__list-box .item {
        align-self: center;
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .movie__list-box .item {
        width: 100%; } }
    .movie__list-box .image {
      display: block;
      height: 50vh;
      width: 20vw;
      margin: 0 4rem; }
      @media only screen and (max-width: 37.5em) {
        .movie__list-box .image {
          width: 100%;
          margin: 0; } }
    .movie__list-box .details-box {
      flex: 1 0 0;
      display: flex;
      justify-content: space-around; }
      @media only screen and (max-width: 25em) {
        .movie__list-box .details-box {
          flex-direction: column; } }
      @media only screen and (max-width: 75em) {
        .movie__list-box .details-box {
          flex-direction: column; } }
      @media only screen and (max-width: 56.25em) {
        .movie__list-box .details-box {
          flex-direction: row; } }
      .movie__list-box .details-box .details {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        font-size: 2rem;
        flex: 0 0 40%; }
        .movie__list-box .details-box .details > * {
          margin-top: 1rem; }
        @media only screen and (max-width: 25em) {
          .movie__list-box .details-box .details {
            padding: 2rem 0; } }

.triger-input {
  display: none; }
  .triger-input:checked + .triger span {
    background-color: transparent; }
  .triger-input:checked + .triger span::after {
    transform: rotate(45deg);
    top: 0; }
  .triger-input:checked + .triger span::before {
    transform: rotate(-45deg);
    top: 0; }

.triger {
  display: block;
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 25em) {
    .triger {
      display: none; } }
  .triger span {
    width: 3rem;
    height: 3px;
    background-color: tomato;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .triger span::after, .triger span:before {
      background-color: purple;
      position: absolute;
      top: 1rem;
      left: 0;
      content: "";
      width: 3rem;
      height: 3px;
      transition: all 0.2s; }
    .triger span::before {
      top: -1rem; }
  .triger:hover span::after {
    transform: translateY(0.2rem); }
  .triger:hover span::before {
    transform: translateY(-0.2rem); }
  .triger span.triger-cross {
    background-color: transparent; }
    .triger span.triger-cross::after {
      transform: rotate(45deg);
      top: 0; }
    .triger span.triger-cross::before {
      transform: rotate(-45deg);
      top: 0; }

.player {
  position: relative;
  grid-area: player;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .player {
      padding-top: 2rem; } }
  .player__image {
    display: block;
    width: 100%;
    height: 100vh; }
    @media only screen and (max-width: 25em) {
      .player__image {
        height: 50vh;
        max-width: 100%; } }
  .player__icon {
    width: 10vw;
    height: 10vw;
    fill: #fff;
    background-color: #12f512;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 1vw;
    z-index: 1;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .player__icon {
        width: 20vw;
        height: 20vw; } }
  .player:hover::before {
    display: block;
    backdrop-filter: brightness(0.5); }
  .player::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.poster {
  grid-area: poster;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .poster__image {
    height: 70%; }
  .poster__trailer {
    background-color: #12f512;
    font-size: calc(1.2rem + 0.5rem);
    padding: 1rem;
    align-self: stretch;
    text-align: center; }
  @media only screen and (max-width: 25em) {
    .poster {
      display: none; } }

.description {
  grid-area: description;
  color: initial;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media only screen and (max-width: 75em) {
    .description {
      justify-content: flex-start; } }
  @media only screen and (max-width: 75em) {
    .description > * {
      margin: 1rem; } }
  .description .details-box {
    display: flex;
    justify-content: space-between;
    padding-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .description .details-box {
        flex-direction: column; } }
    .description .details-box > * > * {
      margin: 1rem 0;
      font-weight: light; }

.download {
  grid-area: download;
  text-align: center;
  text-transform: capitalize; }
  @media only screen and (max-width: 75em) {
    .download {
      display: none; } }
  .download div {
    padding: 1rem;
    background-color: #12f512;
    margin: 1rem;
    cursor: pointer; }
    .download div:hover {
      background-color: #43f743; }

.recommended {
  grid-area: recommended;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem; }
  .recommended__label {
    padding: 1rem;
    display: inline-block;
    background-color: #12f512;
    text-transform: capitalize; }
  .recommended .movie-box {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .recommended .movie-box {
        justify-content: space-around; } }

.movie-rec {
  position: relative;
  width: 30%;
  margin: 1rem;
  cursor: pointer; }
  .movie-rec .player__icon {
    width: 5vw;
    height: 5vw;
    padding-left: 1rem;
    opacity: 0;
    transition: all 0.3s; }
  .movie-rec::after {
    transition: all 0.3s; }
  .movie-rec:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.7); }
  .movie-rec:hover .player__icon {
    opacity: 1; }
  .movie-rec__image {
    width: 100%;
    height: 25vw;
    display: block; }
  .movie-rec__title {
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    left: 0;
    background-color: #333;
    opacity: 0.6;
    z-index: 1; }
  .movie-rec__quality {
    position: absolute;
    background-color: #f0a320;
    border-radius: 50px;
    height: 5vw;
    width: 5vw;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .movie-rec__quality {
        height: 7vw;
        width: 7vw; } }

.slider {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 70vh; }
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s; }
  .slider:hover::after {
    display: block;
    opacity: 0.7;
    z-index: 1;
    cursor: pointer; }
  .slider__link {
    position: relative;
    z-index: 100;
    display: block;
    height: 100%;
    background-color: red; }
  .slider__image {
    display: block;
    height: 100%;
    width: 100%; }
  .slider__description {
    position: absolute;
    padding: 2rem;
    width: 30%;
    font-size: 2rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    display: none; }
  .slider:hover .slider__description {
    display: block;
    opacity: 0.7; }
  .slider__controller {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 5; }
    .slider__controller button {
      border: none;
      box-shadow: 1px 3px 2px #fff;
      cursor: pointer; }
      .slider__controller button:active {
        transform: translateY(1px);
        box-shadow: 0 1px 1px #fff; }
    .slider__controller svg {
      width: 5rem;
      height: 5rem;
      fill: #333; }
    .slider__controller svg:not(:last-child) {
      margin-right: 3rem; }

.main__home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 6rem; }

.main__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(1.2rem + 1.5rem); }
  @media only screen and (max-width: 56.25em) {
    .main__heading {
      display: block;
      font-size: calc(1.2rem + 0.5rem);
      margin: 3rem auto; } }
  .main__heading:hover {
    transform: none; }

.main__top-movies {
  display: grid;
  grid-template-columns: minmax(min-content, 20rem) 1fr minmax(min-content, 20rem);
  grid-template-rows: 100vh 50vh min-content;
  grid-template-areas: "player player player" "poster description download" "recommended recommended recommended"; }
  @media only screen and (max-width: 75em) {
    .main__top-movies {
      grid-template-areas: "player player player" "poster description description" "recommended recommended recommended"; } }
  @media only screen and (max-width: 25em) {
    .main__top-movies {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      grid-template-areas: "player" "description" "recommended"; } }
