//media
$large: 75em; //1125px
$medium: 56.25em; //900px
$small: 37.5em; //600px
$x-small: 25em; //400px

// main colors
$color-white: #fff;
$color_font--primary: #eaeaea;
$background__color--primary: #f8f8f8;
$font__size--main: 1.2rem;
$color__white: white;
$color__gray--dark: #333;
// LOGO
$color--primary: rgb(18, 245, 18);
$color--primary-dark: rgb(13, 129, 13);
$color--secondary: rgb(240, 163, 32);
// header:
$header__bg: skyblue;
$footer__color: rgb(60, 183, 231);
