.movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 6rem;
  @include respond(x-small) {
    grid-auto-rows: min-content;
  }

  &-card {
    -moz-perspective: 150rem;
    perspective: 150rem;
    width: 100%;
    height: 30rem;
    position: relative;
    // backface-visibility: hidden;
    @include respond(x-small) {
      height: auto;
    }
    &__front {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: all 3s;
      transform: rotateY(0);
      &:hover {
        transform: rotateY(180deg);
      }
      &:hover + .movie-card__back {
        transform: rotateY(0);
      }
      @include respond(x-small) {
        position: relative;
        height: 30rem;
        &:hover {
          transform: none;
        }
        &:hover + .movie-card__back {
          transform: none;
        }
      }
    }

    &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(187, 107, 187);
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all 3s;
      font-size: 1.5rem;
      padding: 1rem;
      @include respond(x-small) {
        position: relative;
        height: 30rem;
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
  &-cover {
    width: 100%;
    height: 100%;
    position: relative;

    &__version {
      position: absolute;
      top: 1rem;
      right: 1rem;
      // width: 5rem;
      // height: 3rem;
      padding: 1rem;
      background-color: $color--secondary;
      border-radius: 5rem;
      font-size: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
    &__img {
      display: block;
      width: 100%;
      height: 100%;
    }
    &__name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      font-size: 2rem;
      text-transform: uppercase;
      background-color: rgba($color__gray--dark, 0.8);
      color: $color_font--primary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    color: $color__gray--dark;
    text-align: center;
    padding: 1rem 0;
  }
  &__details {
    margin-top: 1rem;
    &--d {
      color: $color__gray--dark;
    }
  }

  &__genres-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__genre {
    padding: 1rem;
    background-color: $color--primary;
  }
  &__filters-box {
    position: fixed;
    bottom: 0;
    left: 2rem;
    background-color: $color--primary;
    width: 100vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    @include respond(small) {
      display: none;
    }
  }
  &__filter {
    @extend %link__base;
    &:first-child {
      margin-left: 10rem;
    }
    // margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: calc(#{$font__size--main} + 0.5rem);

    &:hover {
      color: $color__gray--dark;
    }
    &--white {
      background-color: $color_font--primary;
      width: 6rem;
      height: 100%;
    }
  }
  &__list-box {
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
    background-color: lighten($color__gray--dark, 0%);
    @include respond(small) {
      flex-direction: column;
    }
    .number {
      display: block;
      height: 100%;
      width: 10vw;
      font-size: 10rem;

      display: flex;
      justify-content: center;
      align-items: center;
      @include respond(small) {
        display: none;
      }
    }
    .item {
      @include respond(large) {
        align-self: center;
        display: block;
      }
      @include respond(small) {
        width: 100%;
      }
    }
    .image {
      display: block;
      height: 50vh;
      width: 20vw;
      margin: 0 4rem;
      @include respond(small) {
        width: 100%;
        margin: 0;
      }
    }
    .details-box {
      flex: 1 0 0;
      display: flex;
      justify-content: space-around;
      @include respond(x-small) {
        flex-direction: column;
      }
      @include respond(large) {
        flex-direction: column;
      }
      @include respond(medium) {
        flex-direction: row;
      }

      .details {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        font-size: 2rem;
        flex: 0 0 40%;
        & > * {
          margin-top: 1rem;
        }
        @include respond(x-small) {
          padding: 2rem 0;
        }
      }
    }
  }
}
